@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body{
    background: rgb(225, 225, 230);
}
.label{
    background: rgb(0, 197, 131);
    padding: 10px;
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    font-weight: bold;
    color: white;
    border-radius: 15px;
}

h5{
    margin: 35px;
    font-family: 'Roboto', sans-serif;
}

input[type="number"]{
    font-size: 20px;
}


input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.btn-success{
	background: rgb(0, 197, 131);
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 20px;
}

.btn-success:hover{
	background: rgb(1, 143, 96);
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    padding-left: 15px;
    padding-right: 15px;
    border-color: white;
}

.logo{
    background:rgb(94, 97, 96);
}

